<div  class="container mt-3">
<div class="d-flex justify-content-center mt-3">
  <h5 class="text-success mt-3">Formulario Agregar Producto</h5>
</div>
<form class="d-flex justify-content-between  align-item-center my-4 w-50 mx-auto" 
(submit)="onAgregarProducto()" [formGroup]="productoFormGroup">

  <input type="text" placeholder="Descripcion Prodcuto" class="form-control me-2 w-75" formControlName="Descripcion">
  <input type="text" placeholder="Valor" class="form-control me-2 w-25" formControlName="Valor">
  <button type="submit" class="btn btn-primary">Agregar</button>
</form>
</div>