<div class="row justify-content-center">
  <div class="col-md-6">
    <div *ngIf="cargando" class="d-flex justify-content-center align-items-center py-5 fade-out"
      [class.hidden]="!loaderVisible">
      <div class="text-center">
        <div class="spinner-border text-info" role="status" style="width: 3rem; height: 3rem;">
          <span class="visually-hidden">Cargando...</span>
        </div>
        <p class="mt-2 text-muted fw-bold">Consultando base de datos...</p>
      </div>
    </div>

    <ul class="list-group fade-in" *ngIf="!cargando">
      <ng-container *ngIf="usuariosList.length > 0; else sinUsuarios">
        <li *ngFor="let usario of usuariosList" class="list-group-item text-center">
          {{ usario.id }} - {{ usario.name }}
        </li>
      </ng-container>
      <ng-template #sinUsuarios>
        <li class="list-group-item text-center text-danger">
          No Hay Usuarios Disponibles en la Api Json Place Holder
        </li>
      </ng-template>
    </ul>
  </div>
</div>
